@font-face {
    font-family: "Roboto";
    src: url(assets/Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(assets/Fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #4E4E4E;
}

h1 {
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    letter-spacing: 4.5px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    font-weight: bold;

}

h3 {
    color: #373737;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 2.4px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    transition: all 500ms ease-in-out;
}

p {
    line-height: 140%;
    padding: 20px;
}

strong {
    font-weight: bold;
    color: #373737;
}

.button-blue {
    margin: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    background-color: #00AFDB;
    padding: 15px 47px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    transition: all 500ms ease-in-out;
}

.button-blue:hover {
    background-color: #009CC2;
    transition: all 500ms ease-in-out;
}

.button-download {
    margin: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    background-color: #00AFDB;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: all 500ms ease-in-out;
}

.button-download .text {
    padding: 15px 18px;
    display: inline-block;
    line-height: 0;

}

.button-download:hover{
    background-color: #009CC2;
    transition: all 500ms ease-in-out;
}

.button-download .icon {
    display: inline-block;
    padding: 12px 20px;
    background-color: #009CC2;
    height: 100%;
    line-height: 0;
    transition: all 500ms ease-in-out;
}

.button-download .icon:hover{
    background-color: #00AFDB;
    transition: all 500ms ease-in-out;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.bg-block {
    background-image: url(assets/Images/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 788px;
    background-color: #00000066;

}

header nav {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation ul li {
    padding: 10px 40px;
}

.main-navigation ul li:nth-of-type(3){
    margin: 0 9px;
}

.main-navigation ul li:nth-of-type(3) a{
    display: block;
}


.logo:hover > img {
    margin-top: 12px;
    transition: all 500ms ease-in-out;
}

.icons:hover > img {
    filter: invert(56%) sepia(39%) saturate(3283%) hue-rotate(153deg) brightness(92%) contrast(101%);
    transition: all 500ms ease-in-out;
}

.main-navigation ul li a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 140%;
    padding: 3px 5px;
    transition: all 500ms ease-in-out;
}

.main-navigation ul li a:hover {
    text-decoration: solid underline #FFFFFF 1px;
    transition: all 500ms ease-in-out;
}

.active {
    text-decoration: solid underline #FFFFFF 1px !important;
}

.your-life-block {
    text-align: center;
    padding-top: 135px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 693px;;
}

.your-life-block ul {
    margin-top: auto;
    display: flex;
}

.your-life-block ul li a {
    display: block;
    padding: 5px;
    margin: 0 10px;
    line-height: 0;
}

.your-life-block p {
    color:#FFFFFF;
    font-size: 18px;
    line-height: 140%;
    width: 504px;
}

.section-block {
    display: flex;
    margin: 120px 269px 140px 269px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.section-block .text-block {
    max-width: 457px;
    padding: 25px 0px;
}

.section-block p {
    padding: 20px 0px;
}

.section-block .button-blue {
    margin-left: 0;
}

.article-img {
    padding: 0;
}

.rapresent-block .text-block {
    padding-right: 50px;
}

.community-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}

.community-article {
    flex: 0.6;
    margin-left: 269px;
    text-align: center;
    padding: 25px 0px;
}

.community-article p {
    padding: 10px 0;
}

.community-article img {
    padding: 20px;
}



.slider {
    flex:2;
    margin-left: 139px;
    overflow: hidden;
}

.slider ul {
    display: flex;
}

.slider ul li {
    flex-shrink: 0;
    margin: 5px 15px;
}

.slider-navigation {
    margin-left: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.slider-navigation a {
    line-height: 0;
    
}

.slider-navigation a:hover > img {
    filter: invert(51%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(99%) contrast(84%);
    transition: all 500ms ease-in-out;
}

.slider-navigation p {
    padding: 0;
    font-size: 18px;
    color: #373737;
    line-height: 100%;
}

.slider-navigation img:nth-last-of-type(1),
.slider-navigation img:nth-last-of-type(3) {
    padding: 0 14px;
}

.slider-navigation img:nth-last-of-type(2){
    padding: 0 4px;
}

.implement-block .text-block {
    margin-right: 40px;
    padding-right: 40px;
}

.subscribe-block {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/Images/pexels-christina-morillo-1181675\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 524px;
    background-color: #00000066;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-block .container {
    text-align: center;
}

.subscribe-block h2 {
    color: #FFFFFF;
}

.subscribe-block form {
    margin: 30px;
}

.check-icon {
    background: url("assets/Icons/check-icon.svg") no-repeat center;
    background-size: 17px;
    min-height: 46px;
    min-width: 66px;
    background-color: #00AFDB;
    border: 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.check-icon:hover {
    background-color: #009CC2;
    transition: all 500ms ease-in-out;
}

.email {
    display: flex;
    justify-content: center;
}

.email .email-input {
    border: 0;
    background-color: #FFFFFF;
    padding: 13px 24px;
    width: 340px;
    font-size: 14px;
    color: #373737;
}

.email .email-input::placeholder {
    color: #373737;
    opacity: 0.5;
}

.email .email-input:focus-visible {
    outline: none;
}

.download-block {
    margin-top: 120px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.download-block p {
    max-width: 480px;
    padding: 20px 0;
    text-align: center;
}

.button-block {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 60px 160px 80px 160px;
}

footer p {
    color: #818181;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-betweens;

}

.footer-nav ul li {
    padding: 20px;

}

.footer-nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 140%;
    transition: all 500ms ease-in-out;
    
}

.footer-nav ul li a:hover {
    text-decoration: solid underline #FFFFFF 1px;
    transition: all 500ms ease-in-out;
}

.footer-nav ul li:nth-last-child(2){
    border-left: 1px solid #4E4E4E;
    border-right: 1px solid #4E4E4E;
    line-height: 12px;
    padding: 0px 20px;
}
